* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    margin-left: 65vh;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.title {
    color: black;
    background-color: rgb(189, 253, 85);
    padding-top: 2vh;
    padding-bottom: 2vh;
    border: 2px solid;
    border-radius: 80px;
    margin-top: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin-top: 10vh;
    padding: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px black solid;
    border-radius: 40px;
}